
<form class="b-form" [formGroup]="searchForm">
	<p>
		<tui-input
			formControlName="formValue"
			tuiTextfieldCleaner="true"
			tuiTextfieldLabelOutside="true"
		>
			Search text
			<input
				autocomplete="text"
				tuiTextfield
				type="text"
			/>
		</tui-input>
	</p>
</form>

<ng-container *ngIf="filteredData$ | async as data">
	<tui-tree
		*ngFor="let item of data"
		[childrenHandler]="handler"
		[content]="content"
		[tuiTreeController]="item.expanded ?? false" 
		[value]="item"
	></tui-tree>
</ng-container>

<ng-template #content let-item>
	<tui-checkbox-labeled
		class="tui-space_vertical-2 tui-space_left-1"
		[ngModel]="item | tuiMapper: getValue : map"
		(ngModelChange)="onChecked(item, $event)"
	>
		<!-- <span [innerHTML]="highlightSearchTerm(item.name, searchForm.get('formValue')!.value || '')"></span> -->
		<span [highlight]="searchForm.get('formValue')!.value || ''">{{ item.name }}</span>

	</tui-checkbox-labeled>
</ng-template>
