	<!-- <ng-container [tuiTreeController]="true">
		<tui-tree-item>
				Fruits
				<tui-tree-item>
						Apples
						<tui-tree-item>Granny Smith</tui-tree-item>
						<tui-tree-item>Red Delicious</tui-tree-item>
				</tui-tree-item>
				<tui-tree-item>Oranges</tui-tree-item>
		</tui-tree-item>
		<tui-tree-item>
				Animals
				<tui-tree-item>Cats</tui-tree-item>
				<tui-tree-item>Dogs</tui-tree-item>
		</tui-tree-item>
	</ng-container> -->


<!-- <div *ngIf="data.length === 0">Нет данных для отображения</div>

	<ng-container *ngIf="data.length > 0">
		<ng-container *ngFor="let node of data; trackBy: trackById">
			<ng-container *ngTemplateOutlet="renderNode; context: { $implicit: node }"></ng-container>
		</ng-container>
	</ng-container>
	
	<ng-template #renderNode let-node>
		<tui-tree-item>
			{{ node.name }}
			<ng-container *ngIf="node.children && node.children.length > 0">
				<ng-container *ngFor="let child of node.children; trackBy: trackById">
					<ng-container *ngTemplateOutlet="renderNode; context: { $implicit: child }"></ng-container>
				</ng-container>
			</ng-container>
		</tui-tree-item>
	</ng-template>  -->


	<div *ngIf="data.length === 0">Нет данных для отображения</div>

	<ng-container *ngIf="data.length > 0">
		<ng-container *ngFor="let node of data; trackBy: trackById">
			<ng-container *ngTemplateOutlet="renderNode; context: { $implicit: node }"></ng-container>
		</ng-container>
	</ng-container>
	
	<ng-template #renderNode let-node>
		<tui-tree-item>
			{{ node.name }}
			<ng-container *ngIf="node.children && node.children.length > 0">
				<ng-container *ngFor="let child of node.children; trackBy: trackById">
					<ng-container *ngTemplateOutlet="renderNode; context: { $implicit: child }"></ng-container>
				</ng-container>
			</ng-container>
		</tui-tree-item>
	</ng-template>



